Package: com.alexpng.darkpapers
Name: DarkPapers
Depends: firmware (>= 13.0), mobilesubstrate, wallpaperloader
Architecture: iphoneos-arm
Description: Day/Night wallpapers your way in the native iOS 13 dark mode. Comes with over 50 OLED friendly and Full HD wallpapers that work with the native appearance aware feature. No settings required, simply install and select from the wallpaper section in the settings app. This package includes an app for you to add your own custom day/night wallpapers.
Maintainer: alex_png <alex.png.cc@gmail.com>
Author: alex_png <alex.png.cc@gmail.com>
Homepage: https://alexpng.github.io/
Depiction: https://alexpng.github.io/depictions/com.alexpng.darkpapers/
Icon: file:///Applications/DarkPapers.app/DebIcon.png
SileoDepiction: https://alexpng.github.io/depictions/com.alexpng.darkpapers/darkpapers.json
Section: Utilities
Version: 1.0
